target/
.DS_Store
.idea/
/dashboard-service/dashboard-service.iml
/dashboard-package/dashboard-package.iml
/dashboard-web/dashboard-web.iml
node_modules/
typings/
docs/
coverage/
nbproject/
.netbeans*