target/
.DS_Store
.idea/
/angular2_template-service/angular2_template-service.iml
/angular2_template-package/angular2_template-package.iml
/angular2_template-web/angular2_template-web.iml
node_modules/
typings/
